.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 142px;
}
@media (max-width: 768px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 568px) {
    .features {
        grid-template-columns: 1fr;
        text-align: center;
    }
}