
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 83px;  
}
.header__button {
    background: #e8eff2;
    font-family: "Barlow";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #162542;
    transition: all 300ms ease-in-out;

}
.header__button:hover {
    background: #162542;
    color: #fff;
}
@media (max-width: 768px) {
    .header {
        margin-top: 40px;
        margin-bottom: 62px;
    }
}
@media (max-width: 468px) {
    .header {
        margin-top: 23px;
        margin-bottom: 64px;
    }
}
